@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.project-card {
  &__image {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgba($color-bg, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    opacity: 0;
    transition: opacity 0.3s ease;

    @include desktop {
      .project-card__image:hover & {
        opacity: 1;
      }
    }
  }

  &__title {
    @include heading-m;
    text-transform: uppercase;
    margin-bottom: 7px;
  }

  &__tags {
    display: flex;
    gap: 18px;
    font-size: 18px;
    font-weight: 500;
    color: $color-gray;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__links {
    display: flex;
    gap: 30px;

    @include desktop {
      display: none;
    }
  }
}
