// Colors
$color-bg: #151515;
$color-green: #4EE1A0;
$color-dark-gray: #242424;
$color-gray: #D9D9D9;
$color-white: #FFFFFF;
$color-error: #FF6F5B;

// Typography
$font-family: 'Space Grotesk', sans-serif;

// Font sizes
$fs-xl: 88px;
$fs-l: 48px;
$fs-m: 24px;
$fs-body: 18px;
$fs-body-sm: 16px;

// Line heights
$lh-xl: 88px;
$lh-l: 56px;
$lh-m: 32px;
$lh-body: 28px;

// Letter spacing
$ls-xl: -2.5px;
$ls-l: -1.5px;

// Breakpoints
$bp-tablet: 768px;
$bp-desktop: 1200px;
