@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.contact {
  position: relative;
  overflow: hidden;
  background-color: $color-dark-gray;
  padding: 60px 0;
  @include tablet {
    padding: 60px 0 92px 0;
  }

  &__rings {
    position: absolute;
    z-index: 0;
    pointer-events: none;
    bottom: 70px; // mobile
    left: 0;

    @include tablet {
      bottom: 25px;
      left: -30px;
    }

    @include desktop {
      bottom: 40px;
      left: -205px;
    }
  }

  @include desktop {
    padding: 84px 0;
  }

  &__container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;

    @include tablet {
      width: 445px;
      padding: 0;
    }

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      gap: 220px;
      width: auto;
    }
  }

  &__content {
    text-align: center;

    @include desktop {
      text-align: left;
      max-width: 445px;
    }
  }

  &__title {
    @include heading-xl;
    margin-bottom: 20px;

    @include desktop {
      margin-bottom: 36px;
    }
  }

  &__description {
    @include body-text;
    color: $color-gray;
  }

  &__form {
    @include desktop {
      flex: 1;
      max-width: 445px;
    }
  }

  &__submit {
    float: right;
  }
}
