@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.footer {
  position: relative;
  overflow: hidden;
  background-color: $color-dark-gray;
  padding: 40px 0 60px;

  // Divider line — container-width (not full viewport)
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
    height: 1px;
    background-color: $color-gray;

    @include tablet {
      left: 30px;
      right: 30px;
    }

    @include desktop {
      left: 50%;
      right: auto;
      width: 1110px;
      transform: translateX(-50%);
    }
  }

  @include tablet {
    padding: 30px 0 40px;
  }


  @include desktop {
    padding: 47px 0 92px;
  }


  // Decorative ovals — bottom left, partially outside viewport
  &__rings {
    position: absolute;
    bottom: 150px;
    left: -250px;
    z-index: 3;
    pointer-events: none;

    @include tablet {
      left: 0px;
      bottom: 130px;
    }

    @include desktop {
      bottom: -219px;
      z-index: 2;

    }
  }

  &__container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;

    @include tablet {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -0.44px;
    }
  }

  &__social-list {
    display: flex;
    align-items: center;
    gap: 26px;
    @include tablet {
      gap: 32px;
    }
  }

  &__social-list a {
    display: inline-flex;

    img {
      transition: filter 0.3s ease;
      @include tablet {
        width: 25px;
      }
    }

    &:hover img {
      filter: brightness(0) saturate(100%) invert(76%) sepia(44%) saturate(522%) hue-rotate(101deg) brightness(92%) contrast(92%);
    }
  }
}
