@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.skills {
  position: relative;
  padding: 40px 0;

  // Divider line at bottom (mobile only) — container-width
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    height: 1px;
    background-color: $color-gray;

    @include tablet {
      display: none;
    }
  }

  @include tablet {
    padding: 52px 0 20px;
  }

  @include desktop {
    padding: 72px 0;
  }

  // Decorative ovals — right side
  &__rings {
    position: absolute;
    bottom: -64.5px;
    right: 0px;

    @include tablet {
      bottom: -50px;
    }
    z-index: 0;
    pointer-events: none;

    @include desktop {
      bottom: 25px;
      right: -265px;
      transform: none;
    }
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    text-align: center;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      text-align: left;
      gap: 52px 24px;
    }

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      gap: 58px 24px;
    }
  }

  &__title {
    @include heading-l;
    margin-bottom: 2px;
    @include tablet {
      margin-bottom: 14px;
    }
  }

  &__experience {
    @include body-text;
    color: $color-gray;
  }
}
